/bentoo
/BenchmarkJava*
/reality-check*
/JulietCSharp*
/FlowBlot.NET*
/sast-rules*
/skf-labs*
/go-test-bench*
/go-sec-code*
/python-owasp-converted*

/scripts/benchmarks/skf-labs/python/metadata/
/go-owasp-converted*
